<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to our portal</title>
  </head>
  <body>

    <form method="POST" action={% url "login" %}>
        {% csrf_token %}
        <p>Errors:</p>
        {{form.errors}}
        {{ form.username.label_tag }}
        {{form.username}}

        {{ form.password.label_tag }}
        {{form.password}}

        <input type="submit" value="login">
        <input type="hidden" name="next" value={{next}}>
    </form>
    <a href={% url "password_reset" %}>Forgot password?</a>
  </body>
</html>
