<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change my password</title>
  </head>
  <body>
    {% if validlink %}
    <h1>Enter your password:</h1>
    <p>Entger your password correclty two times so that we can verify it</p>

    <form method="POST" action="">
      {% csrf_token %}
      <label for="">Change your password:</label>
      {{form.new_password1.errors}} {{form.new_password1}}
      <label for="">Confirm your password:</label>
      {{form.new_password2.errors}} {{form.new_password2}}

      <button type="submit">Change my password</button>
    </form>
    {% endif %}
  </body>
</html>
